h1{
    text-align: center;
}
table{
    border: 1px solid rgb(92, 189, 241);
    margin:auto;
    width: 80%;
}
td{
    border: 1px solid rgb(92, 189, 241);
    width: 90px;
    text-align: center;
}
th{
     width: 90px;
    border: 1px solid rgb(92, 189, 241);
}
.formulario{

margin: auto;
overflow: hidden;
border: 2px ;
width: 80%;
float: none;
}
.contacto{
float:left;
width: 40%;
height: 120px;
}
.consulta{
float:right ;
width: 40%;
height: 120px;
}

legend{
  color: rgb(71, 164, 235);
}
