
.menu {
    padding: 10px;
    margin-top: 10px;
}

a {
    color: #38bdf8;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
}
a:hover {
    color: white;
}

main {
    overflow: hidden;
    margin-top: 20px;
}
.section1, .section2 {
    float: left;
    width: 25%;
    height: 700px;
    background-color: #1e293b;
    padding: 15px;
    font-size: 12px;
    color:#38bdf8;
}

article {
    float: left;
    width: 50%;
    min-height: 1000px;
    padding: 30px;
    background-color: #0f172a;
}


iframe {
    margin: auto;
    width: 70%;
   padding: 10px;
   
}
.consejo {
    margin-top: 300px; 
    padding: 10px;
}