
h1{
    color: white;
    background-color: red;
}
h2{
    color: white;
    background-color: red;
   
}

.principal{
    background-color:rgb(227, 232, 241);
    float:none;
    border: 2px solid red;
    overflow: hidden;
}
.divpeliculas{
overflow: hidden;
float:left
}
.divinformacion{

}
.divpublicidad{
clear:both;
}