.header{
    text-align: center;
    float:none
}
.aside1{
    float:left;
     margin:auto;
     width:15%;
}
.main{
    float:left;
    background-color:blanchedalmond;
    width:70%;
 
}
.divprincipal{
    float:none;

}
.divprincipal1{
    float:left;
    width:50%;

}
.divprincipal2{
    float:right;
    width:50%;

}
.aside2{
float:right;
 width:15%;
}
.footer{
background-color: aquamarine;
width:100%;
float:left;
margin:0%;
}
.divfooter{
margin:auto
}