body{
background-color: antiquewhite;
text-align:center ;
}
header {
background-color: aqua ;

height: 100px;
}
footer p {
    color:red
}
main {
width: 50%;
margin:auto;
height: 1000px;
border: 2px solid red;
text-align: center;

}
aside{
    border: 2px solid blue;
}
.publicidadizquierda{
float:left;
width: 23%;
height: 800px;
position:fixed;
bottom: 21px;

}
.menuderecho{
float:right;
width: 23%;
height: 800px;
position:fixed;
left:1465px;
bottom: 21px;
}
.noticiaprincipal{
float:none;

}
.noticia1{
float:left;
width: 50%;
}
.noticia2{
float:right;
width: 50%;
}
.caja1{
height: 100px;
width:75%;
float:none
}
#logo{
    width: 80px;
    position: relative;
    left: 200px;
    bottom: 82px;
}
#publicidad{
   
}