.tabla , th , td{ 
border:2px solid yellow;

border-collapse: collapse;
}
.tabla{
    text-align: center;
    width:75%;
    
}
.cabecera {
background-color: rgb(179, 133, 221);
}
tfoot{
background-color: rgb(247, 247, 144);
}